body {
    background: darkslategrey;
}

h1 {
    text-align: center;
    color: floralwhite;
}

svg {
    background: rgb(33, 85, 44);
    color: cornsilk;
    margin: 10px;
}

rect {
    fill: rgb(201, 198, 38);
}

yAxis {
    font-size: medium;
}